// app global css in SCSS form
@font-face {
  font-family: 'Sora';
  src: url('./fonts/Sora-VariableFont500.woff2') format('woff2-variations');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('./fonts/RobotoSlab-VariableFont500.woff2')
    format('woff2-variations');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.font-family__Sora {
  font-family: Sora;
}

.font-family__RobotoSlab {
  font-family: RobotoSlab;
}
