// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary: #322254;
$secondary: #4c656b;
$nardo: #c0c6c8;
$accent: #b63854;

$light: #f6f7f2;
$dark: #474747;

$positive: #0fa348;
$negative: #c8102e;
$info: #3270e4;
$warning: #f2c037;
